<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>QuantumVault</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/custom.css') }}"
        />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css"
        />
        <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
        <link rel="icon" href="static/shield.png" type="image/png" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a
                    class="navbar-brand codedText"
                    href="{{ url_for('views.home') }}"
                    >QuantumVault</a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('file.upload') }}"
                                >Upload files</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('message.messages') }}"
                                >Messages</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('subscription.subscribe') }}"
                                >Subscribe</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('auth.logout') }}"
                                >Logout</a
                            >
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('auth.login') }}"
                                >Sign in</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('auth.show_register') }}"
                                >Sign up</a
                            >
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('about.about') }}"
                                >About Us</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('terms.terms') }}"
                                >Terms</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link"
                                href="{{ url_for('privacy.privacy') }}"
                                >Privacy</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container mt-3">
            {% with messages = get_flashed_messages(with_categories=true) %} {%
            if messages %} {% for category, message in messages %}
            <div
                class="alert alert-{{ category }} alert-dismissible fade show"
                role="alert"
            >
                {{ message }}
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                ></button>
            </div>
            {% endfor %} {% endif %} {% endwith %} {% block content %}{%
            endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/static/js/coded-text.js"></script>
    </body>
</html>
