{% extends "base.html" %} {% block title %}Upload Files{% endblock %} {% block
content %}
<div class="container mt-5">
    <h1 class="text-center mb-5">Upload and Encrypt Files</h1>
    <div class="row g-4">
        <!-- Upload File Section -->
        <div class="col-lg-6">
            <h2 class="mb-3">💾 Upload File</h2>
            <form method="POST" enctype="multipart/form-data" id="uploadForm" data-username="{{ username }}">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.file.label(class="form-label") }} {{
                    form.file(class="form-control", id="fileInput") }}
                </div>
                {{ form.submit(class="btn btn-primary", id="submitButton") }}
            </form>
        </div>
        <!-- Encrypted Files Section -->
        <div class="col-lg-6">
            <h2 class="mt-4 mb-3">📂 Encrypted Files</h2>
            <ul class="list-group">
                {% for file in files %}
                <li>
                    <a href="{{ url_for('file.download', filename=file) }}" class="download-link" data-filename="{{ file }}">
                    📜 {{ file }}
                </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="module" src="/static/js/upload.js"></script>
{% endblock %}
